# Arquivos de log e temporários
*.log
*.tmp

# Pastas da Lixeira do Windows
$Recycle.Bin/
**/Recycle.Bin/

# Arquivos ocultos e de sistema do Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos .mui (linguagem do sistema)
*.mui

# Arquivos de backup ou temporários
*.bak
*.old

# Outros formatos inúteis nesse caso
*.slddrt
*.svg
