#app{
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden; /*sem rolagem*/
}

main{
  overflow: auto;
  padding: 4rem; /*1rem = 16px (64/16=4)*/

  & .main-container{
    max-width: 33rem;
    margin-left: auto;
  }

  & .back{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }

  & h1{
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }
}

aside{
  background-color:  var(--surface-secondary);
  padding: 4rem;

  /*O & EVITA DE VOCE ESCREVER O ASIDE VARIAS VEZES, MAS SERIA A MESMA COISA QUE ESCREVER ASIDE .ASIDE-CONTAINER*/
  & .aside-container{ /*tudo dentro do aside*/
    max-width: 31rem; 

    & > img { /*dentro de img*/
      margin-top: 2rem; 
    }
  }

  & h2{
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
    & span{
      color: var(--text-highlight);
    }
  }
}